
<div class="container">
  <div class="row">
    <h1 class="gapper gap_up">
      {{game.name}}
    </h1>
  </div>
  <div class="row">

    <div class="col-md-7">
      <img [src]="game.image" class="poster_image" alt="una imagen">
    </div>

    <div class="col-md-5">
      <h6><b>Desarrolladores / Publicadores</b></h6>
      <div class="row">
        <div class="col-md-10">
          <div *ngFor="let devs of game.developers">
            <h6>{{devs.name}}</h6>
          </div>
        </div>
      </div>



      <h6 class="gap_up"><b>Rating del Juego: </b> {{game.rating}}</h6>



      <h6 class="gap_up"><b>Plataformas </b></h6>
      <div class="row">
        <div class="col-md-10">
      <div *ngFor="let plat of game.platforms">
        <h6>{{plat.platform.name}}</h6>
      </div>
        </div>
      </div>

      <h6 class="gap_up"><b>Fecha de Lanzamiento </b> {{game.released}}</h6>

      <h6 class="gap_up"><b>Generos</b></h6>

      <div class="row">
        <div class="col-md-10">
          <div *ngFor="let genre of game.genres">
            <h6>{{genre.name}}</h6>
          </div>
        </div>
      </div>


      <div *ngIf="game.tba == true; else elseBlock">

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-warning"> Este juego aun no se ha estrenado</button>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="row" id="compra">

          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="clientName" placeholder="Ingresa tu nombre">
          </div>

          <div class="col-md-6">
            <input type="email" class="form-control" [(ngModel)]="clientEmail" placeholder="Ingresa tu correo">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success" (click)="addPurchase()"> Compra el Juego!</button>
          </div>
        </div>
      </ng-template>
    </div>

  </div>

  <div class="row">
    <div class="col-md-5">
      <h5><b>Descripcion</b></h5>
    </div>

    <div class="col-md-8">
      <p>{{game.description}}</p>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <h5><b>Trailer del Juego</b></h5>
      <video [src]="game.trailer" controls></video>
    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <h5><b>Screenshots</b></h5>

      <div class="row">
        <div *ngFor="let shot of game.screenshots" class="flexer">
          <img class="shot" [src]=shot.store.image_background>
          </div>
        </div>
    </div>
  </div>

</div>

