<div class="container">
  <h1 class="gapper">Todos los juegos</h1>

  <input type="text"placeholder="Busca lo que quieres" id="busqueda" class="" [(ngModel)]="searchy" (keyup)="search()">
<div>{{searchy}}</div>
  <div class="flexer text-center">

  <div *ngFor="let game of users">
    <div class="card small_card gap_up">
      <img [src]="game.background_image" alt="Fondo del juego">
      <h5><a [routerLink]="['/info/'+game.slug]">{{game.name}}</a></h5>
    </div>

  </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-info" (click)="nextPage()"> Cargar mas </button>
    </div>
  </div>


</div>
